*.pyc
*.log
mapss/logs
mapss/export_deliverables
mapss/cantaloupe/*
mapss/media/packages
mapss/media/build
mapss/media/node_modules
mapss/uploadedfiles/*
CACHE/*
mapss/settings_local.py
uploads/*
db_backups/*
.vscode/
mapss/webpack/webpack-stats.json
static-media
maps/static-media
staging