*.pyc
*.log
mapss/logs
mapss/export_deliverables
mapss/cantaloupe/*
mapss/media/packages
mapss/media/build
node_modules
mapss/uploadedfiles/*
CACHE/*
mapss/settings_local.py
uploads/*
db_backups/*
.vscode/
webpack/webpack-stats.json

static-media
mapss/static-media
mapss/static/*
mapss/static
static
staging
.DS_Store

*.egg-info
.DS_STORE
.tsconfig-paths.json
.frontend-configuration-settings.json
coverage/
