/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-5.use[3]!../../../usr/local/lib/python3.10/dist-packages/arches/app/media/css/components/search/_time-filter.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.time-filter-title {
    margin-bottom: 8px;
}
.time-filter-title > span {
    flex-grow: 1;
}

.time-search-container {
    background: #fff;
}
.time-search-container #calendar {
    display: flex;
    flex-wrap: wrap;
}
.time-search-container #calendar .calendar {
    display: block;
    width: inherit;
    padding-left: 5px;
    max-width: 152px;
}
.time-search-container #calendar .calendar .search-label {
    margin-top: 10px;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 3px;
}
.time-search-container #calendar .calendar.picker {
    max-width: 175px;
    min-width: 175px;
    position: relative;
}
.time-search-container #calendar .calendar div .form-control[disabled] {
    background: #f7f7f7;
    border: 1px solid #ddd;
    color: #777;
}
.time-search-container #calendar .chosen-container-single .chosen-single {
    height: 35px;
    padding-top: 8px;
}
.time-search-container #calendar .chosen-container-single div b:before {
    vertical-align: -70%;
}

.hide-datepicker-time-option .bootstrap-datetimepicker-widget .picker-switch.accordion-toggle {
    display: none;
}

.datepicker-inline {
    background: #fff;
    border-width: 0px;
}
