/*!*******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-5.use[3]!../../../usr/local/lib/python3.10/dist-packages/arches/app/media/css/jqtree.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************/
ul.jqtree-tree div.jqtree_common {
    display: block;
    color: #333;
    border: 1px solid #ccc;
    text-decoration: none;
    font-weight: 700;
    background: linear-gradient(to bottom, #fafafa0, #eee100);
    border-radius: 3px;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 5px 10px;
}
ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background-color: #ddd;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
ul.jqtree-tree div.jqtree_common:hover {
    color: #2ea8e5;
    background: #fff;
}
ul.jqtree-tree li.jqtree-folder {
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
ul.jqtree-tree .jqtree-title {
    color: #1C4257;
    vertical-align: middle;
    margin-left: 0;
}
ul.jqtree-tree .jqtree-loading > div a {
    content: url(/static/img/56d4c7ce2d3591a02107.gif);
}
ul.jqtree-tree li.jqtree-ghost {
    margin: 0;
}
ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
    background-color: #fff;
    opacity: 0.6;
    border: dashed 1px #00f;
    height: 35px;
}
ul.jqtree-tree .jqtree-toggler {
    margin: 0 5px;
}
ul.jqtree-tree ul.jqtree_common {
    list-style: none outside;
    margin-left: 12px;
    margin-right: 0;
    margin-bottom: 2px;
}
ul.jqtree-tree .jqtree-title.jqtree_common, ul.jqtree-tree .jqtree-title.jqtree_common.jqtree-title-folder {
    font-size: 1.3rem;
}
ul.jqtree-tree .jqtree-title.jqtree_common:hover, ul.jqtree-tree .jqtree-title.jqtree_common.jqtree-title-folder:hover {
    color: #123;
}
ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background: none;
    background-color: #49596A;
    text-shadow: none;
}
