{% load i18n %}

<div style="height: 100%;">
  <div class="row widget-container">
    <div class="form-group">
      <div class="increment-function">
          <label class="control-label widget-input-label"> {% trans "Card Name" %}</label>
          <div class="widget-input">
            <select style="display:inline-block;" data-bind="
              placeholder: 'Select a Card',
              value: selectedNodegroup,
              options: cards,
              optionsText: 'name',
              optionsValue: 'nodegroup_id',
              chosen: {width: '100%', allow_single_deselect: true, disable_search_threshold: 15}
              ">
          </select>
          </div>
          <label class="control-label widget-input-label"> {% trans "Node to update" %}</label>
          <div class="widget-input">
            <select style="display:inline-block;" data-bind="
              placeholder: 'Select a Node',
              value: targetNode,
              options: nodes,
              optionsText: 'name',
              optionsValue: 'nodeid',
              chosen: {width: '100%', allow_single_deselect: true, disable_search_threshold: 15},
              ">
          </select>
          </div>
          
          <label class="control-label widget-input-label">Prefix</label>
          <input class="form-control widget-input" data-bind="textInput: prefix" />

          <label class="control-label widget-input-label">Suffix</label>
          <input class="form-control widget-input" data-bind="textInput: suffix" />

          <label class="control-label widget-input-label">Start Value</label>
          <input class="form-control widget-input" type="number" data-bind="textInput: startingValue" />

          <label class="control-label widget-input-label">Last Value</label>
          <input disabled class="form-control widget-input" type="number" data-bind="textInput: lastValue" />

      </div>
    </div>

  </div>
</div>