/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-5.use[3]!../../../usr/local/lib/python3.10/dist-packages/arches/app/media/css/components/_icon-selector.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
.skip-content-link {
    display: flex;
    transform: translateX(-200vw);
    height: 0;
}
