/*!******************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-5.use[3]!../../../usr/local/lib/python3.10/dist-packages/arches/app/media/css/components/_index.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************/
.resource-filter .resource-selector-button div .btn {
    padding: 2px 10px;
}
.resource-filter .resource-selector-button div .dropdown-menu {
    max-height: 60vh;
    overflow-y: auto;
    z-index: 1200;
}

.qa-filter .resource-selector-button div .btn {
    padding: 2px 10px;
}
.qa-filter .resource-selector-button div .dropdown-menu {
    max-height: 60vh;
    overflow-y: auto;
    z-index: 1200;
}

@media (max-width: 915px) {
    .ep-toolbar .top-right-nav .ep-tools-login p {
        display: none;
    }
}
.ep-toolbar .top-right-nav .ep-tools-login i {
    display: inline-block;
    font-size: 1.7rem;
    margin-top: 2px;
}
@media (min-width: 915px) {
    .ep-toolbar .top-right-nav .ep-tools-login i {
        display: none;
    }
}
.ep-toolbar .top-right-nav .ep-tools-login .h5 {
    font-size: 1.2rem;
}

#backToTopBtn {
    background-color: #404449;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    font-size: 20px;
    right: 20px;
    border-radius: 2px;
    opacity: 0;
    z-index: 1100;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
#backToTopBtn:hover {
    opacity: 1 !important;
    -webkit-transition: opacity 0.3s !important;
    transition: opacity 0.3s !important;
}
@media (max-width: 450px) {
    #backToTopBtn {
        bottom: 5px;
        right: 35px;
    }
}

.btn-sm, .btn-icon.btn-sm {
    font-size: 1.1rem;
}

.btn-group-sm > .btn {
    font-size: 1.2rem;
}

.select2-container {
    font-size: 1.4rem;
    width: 100% !important;
    max-width: 600px !important;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border: 1px solid #ddd;
    border-radius: 0px;
    min-height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--multiple .select2-selection__arrow {
    height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #42a5f5;
    border: none;
    color: white;
    vertical-align: top;
    height: 26px;
}
.select2-container--default .select2-selection--single .select2-selection__choice .fa-minus,
.select2-container--default .select2-selection--multiple .select2-selection__choice .fa-minus {
    margin: 0px 2px 0px 7px;
}
.select2-container--default .select2-selection--single .select2-selection__choice__remove,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #595959;
    background-color: #fff;
    border-radius: 3px;
    line-height: 8px;
    font-size: 15px;
    margin: 2px 4px;
    padding: 3px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder,
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #595959;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    line-height: 26px;
}

.select2-container--default .select2-search--inline .select2-search__field {
    line-height: 24px;
    padding: 0px 5px;
}

.select2-selection__clear {
    padding: 0 8px;
    font-size: 1.5em;
}
.select2-selection__clear:hover {
    color: #2986b8;
}

.select2-dropdown.select2-zindex {
    z-index: 999999;
}

.select2-container--open .select2-selection--multiple:before {
    border-top: 0;
    border-bottom: 5px solid #888;
}

.select2-selection--multiple:before {
    content: "";
    position: absolute;
    right: 7px;
    top: 42%;
    border-top: 5px solid #888;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.map-service-container .config-title {
    margin: 0;
    flex: 1;
}
.map-service-container > div {
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.map-service-manage-buttons {
    margin: 0 10px;
    display: flex;
}
.map-service-manage-buttons .form-group {
    align-items: center;
    display: flex;
    margin-bottom: 0;
}
.map-service-manage-buttons .form-group .control-label {
    margin: 0 5px;
}

.map-service-manage-layer-name {
    display: flex;
    align-items: center;
}

.map-service-manage-icon-selector {
    display: flex;
    flex-wrap: wrap;
}

.map-service-preview {
    background: #f4f4f4;
    border: 1px solid #ddd;
    height: 250px;
}

.map-service-tab-content {
    min-height: 250px;
}

.advanced-map-style-switch {
    margin-top: -35px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.service-url {
    font-size: 1.2rem;
    color: #999;
}

.advanced-style-panel {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.map-style-panel-body {
    padding-bottom: 5px;
}

.simple-style-panel {
    margin-top: -15px;
}

.map-service-nav-tabs {
    background: #f6f6f6;
    display: flex;
    padding: 0;
}

.service-widget-container {
    padding: 0px 15px 10px 15px;
    margin-top: -10px;
}

.dropdown-shim {
    margin-top: 10px;
}

.style-title {
    font-weight: 600;
    color: #666;
}

.col-divider {
    border-right: 1px solid #eee;
}

.map-server-instructions {
    padding: 20px 10px 20px 10px;
    color: #808080;
}

.map-server-basemap-button {
    background: rgba(255, 255, 255, 0.88);
}

.map-service-tabs {
    border: 1px solid #ddd;
    background: #f9f9f9;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.hover-feature-loading {
    padding: 25px;
    font-size: 1.6rem;
}

.skip-content-link {
    display: flex;
    transform: translateX(-200vw);
    height: 0;
}

.search-listing-footer a:focus {
    background: none;
}

/* Advanced search */
@media (max-width: 1024px) {
    .advanced-search-container {
        flex-direction: column-reverse;
        flex: 1;
        width: calc(100vw - 50px);
    }
}
.advanced-search-container .facets-search-container {
    width: calc(100% - 275px);
    height: calc(100vh - 115px);
    overflow-y: auto;
    padding: 5px;
    background: white;
    border-inline-start: 1px #e0e0e0 solid;
}
@media (max-width: 1024px) {
    .advanced-search-container .facets-search-container {
        flex: 1;
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .advanced-search-container .facets-container {
        flex: 1;
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .advanced-search-container .facets-container .search-facets {
        height: auto;
        overflow-y: hidden;
    }
}
.advanced-search-container .facets-container .search-facets .search-facet-item .search-facet-item-heading:focus {
    box-shadow: inset 0 0 0 3px #000;
    text-decoration: underline;
}
.advanced-search-container .facets-container .search-facets .search-facet-item .search-facet-item-heading:hover {
    text-decoration: underline;
}

.facets-container {
    width: 275px;
    border-inline-start: 1px solid #ddd;
}

.faceted-search-card-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 15px;
    background: #f9f9f9;
}
@media (max-width: 1024px) {
    .faceted-search-card-container {
        margin: 0px;
    }
}

.search-facets {
    height: calc(100vh - 115px);
    overflow-y: auto;
    background: #fbfbfb;
}

.list-group.search-facets {
    margin: 0;
}

.search-facet-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-width: 0px;
    border-left-width: 0px;
    overflow: auto;
    width: 100%;
}

.search-facet-item:first-of-type {
    border-top-width: 1px;
}

a.search-facet-item:not(.active):hover {
    cursor: pointer;
    background: #fbfbfb;
}

a.search-facet-item:hover,
a.search-facet-item:focus {
    background-color: #f8f8f8;
}

.search-facet-item.header {
    background: #f2f2f2;
    padding-top: 5px;
    border-top: none;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.search-facet-item.header .search-facet-item-heading {
    font-weight: 600;
    margin-bottom: 5px;
}

div.search-facet-item.disabled {
    border-bottom: 1px solid #ddd;
    padding-left: 10px;
    padding-right: 10px;
}

.search-facet-item-heading {
    font-weight: 400;
    font-size: 1.3rem;
}

.search-facet-item.header input {
    border-color: #bbb;
}

a.search-facet-item .search-facet-item-heading {
    color: #666;
    margin: 0px;
}

a.search-facet-item {
    color: #777;
}

.search-facet-item.disabled {
    background: #f6f6f6;
    color: #666;
    cursor: pointer;
}

a.search-facet-item.disabled {
    cursor: default;
}

.facet-name {
    font-size: 1.5rem;
    color: #333;
}

.facet-search-criteria {
    position: relative;
    padding: 10px 0px 0px 0px;
}

.facet-search-button {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.facet-btn-group {
    display: flex;
    margin: 5px 20px;
}

.facet-btn {
    width: 50%;
    height: 40px;
}

.facet-btn:focus,
.facet-btn.selected {
    background: #ee9818;
}

.facet-label {
    margin-left: 5px;
    margin-bottom: 5px;
}

.facet-body {
    padding-top: 5px;
    padding-bottom: 45px;
    margin-left: 10px;
}

.facet-body .col-md-4.col-lg-3 {
    padding-right: 5px;
}

.facet-body .col-md-3.col-lg-2 {
    padding-right: 5px;
}

.facet-body div div .select2-container {
    border: none;
}

.facet-body .chosen-container-single .chosen-single {
    height: 36px;
}

.time-filter-title {
    margin-bottom: 8px;
}
.time-filter-title > span {
    flex-grow: 1;
}

.time-search-container {
    background: #fff;
}
.time-search-container #calendar {
    display: flex;
    flex-wrap: wrap;
}
.time-search-container #calendar .calendar {
    display: block;
    width: inherit;
    padding-left: 5px;
    max-width: 152px;
}
.time-search-container #calendar .calendar .search-label {
    margin-top: 10px;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 3px;
}
.time-search-container #calendar .calendar.picker {
    max-width: 175px;
    min-width: 175px;
    position: relative;
}
.time-search-container #calendar .calendar div .form-control[disabled] {
    background: #f7f7f7;
    border: 1px solid #ddd;
    color: #777;
}
.time-search-container #calendar .chosen-container-single .chosen-single {
    height: 35px;
    padding-top: 8px;
}
.time-search-container #calendar .chosen-container-single div b:before {
    vertical-align: -70%;
}

.hide-datepicker-time-option .bootstrap-datetimepicker-widget .picker-switch.accordion-toggle {
    display: none;
}

.datepicker-inline {
    background: #fff;
    border-width: 0px;
}

.term-search-filter .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    line-height: 24px;
}
.term-search-filter .select2-container--default .select2-selection--multiple .select2-selection__choice {
    line-height: 24px;
}
.term-search-filter .select2-container--default .select2-selection--multiple .select2-selection__choice .filter-flag {
    background-color: #30ad24;
}
.term-search-filter .select2-container--default .select2-selection--multiple .select2-selection__choice button.search-tag {
    border: none;
    background: transparent;
    color: white;
    vertical-align: top;
    height: 26px;
}
.term-search-filter .select2-container--default .select2-selection--multiple .select2-selection__choice button.search-tag .fa-minus {
    margin: 0px 2px 0px 7px;
}
.term-search-filter .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin: 6px 0px;
}

@media (max-width: 740px) {
    .related-resources-graph-workbench .workbench-card-sidepanel {
        width: calc(100% - 75px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}
@media (max-width: 740px) {
    .related-resources-graph-workbench .workbench-card-sidepanel-header-container {
        width: 100%;
    }
}

.search-listing-footer {
    font-size: 1.2rem;
}
@media (max-width: 320px) {
    .search-listing-footer {
        flex-direction: column;
        height: auto;
    }
}

.number-widget-report {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.number-prefix {
    padding-right: 1px;
}

.number-suffix {
    padding-left: 1px;
}

label.form-checkbox.form-normal:before,
.form-radio.form-normal::before {
    left: 1px;
}

label.form-checkbox.form-normal {
    margin: 4px 0px;
    display: flex;
    align-items: center;
}
label.form-checkbox.form-normal:before {
    content: "";
    margin: 0 5px;
    display: block;
    position: unset;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1px solid #c3cedb;
    border-radius: 0;
    left: auto;
    top: auto;
}
label.form-checkbox.form-normal:not(.active):hover:after {
    opacity: 3;
}
label.form-checkbox.form-normal.form-primary:not(.active):hover:after {
    border-color: #489eed;
}
label.form-checkbox.form-normal:not(.disabled):hover:after {
    content: "";
    position: absolute;
    height: 6px;
    width: 11px;
    left: 8px;
    top: 50%;
    margin-top: -5px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-bottom: 2.5px solid #515151;
    border-left: 2.5px solid #515151;
}
label.form-checkbox.form-normal.active:after {
    content: "";
    position: absolute;
    height: 6px;
    width: 11px;
    left: 8px;
    top: 50%;
    margin-top: -5px;
    border-bottom: 2.5px solid #515151;
    border-color: #fff;
    border-left: 2.5px solid #515151;
    transform: rotate(-45deg);
}
label.form-checkbox.form-normal.active:before {
    background-color: #5fa2dd;
    border-color: #5fa2dd;
}
label.form-checkbox.form-normal span {
    width: 186px;
    white-space: normal;
    padding: 0 5px;
}
label.form-checkbox.form-normal.permission-option i {
    padding: 0 2px;
}

.form-text.form-checkbox:not(.btn), .form-text.form-radio:not(.btn) {
    padding: 0px;
}
.form-text.form-checkbox > input[type=checkbox], .form-text.form-checkbox > input[type=radio], .form-text.form-radio > input[type=checkbox], .form-text.form-radio > input[type=radio] {
    position: unset !important;
    margin: 5px;
}

.columns .form-text.form-checkbox:not(.btn),
.columns .form-text.form-checkbox:not(.btn),
.columns .form-text.form-checkbox:not(.btn) {
    width: 225px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-group.date .input-group-addon {
    background: #fafafa;
}

.input-group-addon:first-child {
    border-inline-start: 1px solid #e1e5ea;
    border-inline-end: none;
}

.input-group.date .input-group-addon,
.date-icon {
    cursor: default;
}

.file-upload {
    position: relative;
    overflow: hidden;
}

.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.dz-previews {
    border: 1px solid #ddd;
    overflow-y: scroll;
    width: 100%;
}

.file-upload-filter {
    /* margin-right: 5px; */
    padding: 0.5em 1em;
    width: 250px;
}

.dz-previews .file-upload-card {
    border-bottom: 1px solid #D3E5F4;
    border-radius: 2px;
    padding: 7px 8px 10px 15px;
    background: #fff;
    color: #666;
    height: 100%;
}

.dz-previews .file-upload-card:nth-child(odd) {
    background: #F5FAFE;
}

.file-upload-options {
    padding-bottom: 0.75em;
    display: flex;
}

.file-upload-options-grow {
    flex-grow: 1;
}

.file-size-label {
    float: right;
    margin-top: 2px;
}

.btn-file-upload-reset {
    color: #489EED;
    font-size: 1.2rem;
}

.file-upload-card-detail-right {
    min-width: 85px;
    float: right;
    margin-top: 6px;
}

.file-upload-card-detail a:hover {
    cursor: pointer;
}

.btn-file-upload-limit {
    color: #489EED;
    font-size: 1.2rem;
    float: left;
}

.btn-file-cancel {
    background: #01113c;
    border-radius: 50%;
    border: none;
}

.file-upload-footer {
    background: #f1f1f1;
    color: rgb(89, 56, 255);
    display: flex;
    justify-content: left;
    align-items: center;
    border-top: 1px solid #ddd;
    padding-left: 10px;
    padding: 15px 15px;
}

.file-upload-footer .loader-selector {
    max-height: 25px;
}

.file-select h2,
.file-select-h2 {
    font-weight: 400;
}

.file-metadata {
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

.form-group .file-metadata input {
    max-width: unset;
}

.rp-report-tile dt.first,
.rp-report-tile dd.first {
    margin-top: 40px !important;
}
.rp-report-tile dt.first:first-of-type,
.rp-report-tile dd.first:first-of-type {
    margin-top: 0px !important;
}

.edtf-style-tools-panel {
    overflow-y: scroll;
    max-width: 600px;
}

.edtf-style-tools-panel::-webkit-scrollbar, .i18n-style-tools-panel::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 9px;
    border-left: 1px solid #ddd;
}

.edtf-style-tools-panel::-webkit-scrollbar-thumb, .i18n-style-tools-panel::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.workbench-card-sidepanel .edtf-style-tools-panel, .workbench-card-sidepanel .i18n-style-tools-panel {
    width: 340px;
}

.columns label .form-radio {
    display: flex;
    align-items: center;
}

label.form-radio.form-normal {
    cursor: pointer;
    margin: 2px 0px;
}
label.form-radio.form-normal::before {
    top: 22px;
    content: "";
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #c3cedb;
    left: auto;
    bottom: auto;
    display: block;
    border-radius: 50%;
    background-color: transparent;
    padding-bottom: 4px;
}
label.form-radio.form-normal::before:hover {
    padding-bottom: 0;
}
label.form-radio.form-normal:not(.disabled):not(.active):hover::after {
    opacity: 0.3;
}
label.form-radio.form-normal::after {
    content: "";
    position: relative;
    display: block;
    width: 8px;
    height: 8px;
}
label.form-radio.form-normal.active::after, label.form-radio.form-normal:not(.disabled):hover::after {
    bottom: 13px;
    position: relative;
    border: none;
    display: block;
    left: auto;
    border-radius: 50%;
    background-color: #515151;
    margin: 0 4px;
}

.form-text.form-radio:not(.btn),
.form-text.form-radio:not(.btn),
.form-text.form-radio:not(.btn) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline-end: 40px;
}

.switch.switch-small.switch-widget {
    width: 35px;
}

.switch.switch-widget.on > small {
    left: 22px;
}

.switch.switch-widget.null > small {
    left: 12px;
}

.switch {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: relative;
    vertical-align: middle;
    width: 50px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
    background-clip: content-box;
    transition-duration: 0.1s;
}

.switch > small {
    transition-duration: 0.1s;
    left: 0;
}

.switch.on {
    background-color: #64bd63;
    border-color: #64bd63;
}

.switch.null {
    background-color: #ddd;
    border-color: #ddd;
}

.switch.on > small {
    left: 13px;
}

.switch.disabled {
    background-color: #f1f1f1;
    border-color: #ddd;
}

.switch.disabled.on {
    background-color: #87c586;
    border-color: #87c586;
}

.switch.disabled > small {
    background-color: #f1f1f1;
}

.switchery > small,
.switch > small {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    height: 30px;
    position: absolute;
    top: 0;
    width: 30px;
}

.switch-small {
    border-radius: 13px;
    height: 13px;
    width: 25px;
    margin: 0 4px;
}

.switch-small > small {
    height: 13px;
    width: 13px;
}

.i18n-style-tools-panel {
    padding: 10px;
    height: 140px;
    position: relative;
    width: 100%;
}

button.map-coordinate-editor-delete-button {
    color: #454545;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
}

.widgets {
    border-bottom-width: 1px;
}

div.row.widget-wrapper {
    margin: 0;
    margin-right: 10px;
    padding: 10px 5px 25px 5px;
    position: relative;
}

.widget-input-label {
    font-size: 1.2rem;
    margin-top: 2px;
    font-weight: 600;
    color: #666;
    display: inline-block;
}

.crud-widget-container {
    padding-bottom: 15px;
}

.form-control.input-lg.widget-input {
    height: 36px;
}

.option-input {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.option-input-config {
    display: flex;
    flex-direction: column;
}

.pad-hor.columns {
    background: #fff;
    padding: 8px 5px 6px 10px;
    /*border: 1px solid #ddd;*/
}

.ion-asterisk.widget-label-required {
    padding-left: 3px;
    font-size: 0.9rem;
    margin-top: 2px;
    position: absolute;
}

/*  Start card/widget manager Classes
    used to manage placement and display of elements inside of the Card
    and Widget Management forms
*/
.panel-config {
    flex-direction: row-reverse;
}

.panel-config .middle-column-container {
    border-right: transparent;
    border-left: 1px solid #ddd;
    background: #f4f4f4;
    color: #2d3c4b;
}

.panel-config .toggle-container {
    padding-bottom: 5px;
}

.panel-config .form-divider {
    border-top: 1px solid #ccc;
}

.widget-config-container {
    display: flex;
    flex-direction: column;
}

.panel-config .widget-config-container {
    margin-left: 5px;
    margin-right: 5px;
}

.panel-config .widget-config-container .control-label {
    padding-top: 5px;
}

/* panel styling in widget manager for radio groups */
.panel-config .widget-config-container .radio-panel {
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-left: -10px;
    margin-right: -10px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

/* panel styling in widget manager for checkbox groups */
.panel-config .widget-config-container .checkbox-panel {
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-left: -10px;
    margin-right: -10px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.widget-inline-tools-collapser {
    cursor: pointer;
    font-size: 0.9em;
    display: flex;
    z-index: 1;
    margin-bottom: 5px;
}

.widget-inline-tools-collapser > .widget-input-label {
    flex-grow: 1;
}

.widget-inline-tools-collapser > span {
    padding-inline-end: 12px;
}

.widget-help-panel {
    padding: 5px 10px;
}

.widget-help-panel h2 {
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 5px;
}

.widget-help-panel-h2 {
    font-size: 1em;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 5px;
}

.widget-help-panel a {
    color: steelblue;
    font-weight: 500;
    text-decoration: underline;
}

.widget-help-panel h3 {
    font-size: 1em;
    margin-top: 0px;
    color: #777;
}

.widget-help-panel-h3 {
    font-size: 1em;
    font-weight: 400;
    margin-top: 0px;
    color: #777;
}

.widget-help-panel .text-thin {
    color: #666;
    font-weight: 400;
}

.edtf-style-tools-panel, .i18n-style-tools-panel {
    background: #fbfbfb;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 2px;
    max-height: 200px;
}

.geojson-editor {
    border: 1px solid #808080;
    margin-bottom: 5px;
    margin-top: 5px;
}

.geojson-error-list {
    padding: 10px;
    color: rgb(161, 0, 0);
}

#map-settings {
    position: relative;
    margin: -40px -35px 10px -20px;
}

.map-sidebar-text {
    font-size: 1.2rem;
}

.workbench-card-container.map-container {
    width: calc(100% - 75px);
}

.workbench-card-sidepanel .install-buttons {
    background: #f9f9f9;
    position: fixed;
    margin-right: 75px;
    bottom: 0px;
    border-top: 1px solid #ddd;
    padding: 10px 35px;
    right: 0;
    width: 399px;
    display: flex;
}

.workbench-card-sidepanel .resource-instance-card-component-content .install-buttons {
    bottom: auto;
    border: none;
    background: white;
    padding: unset;
}

.graph-designer .workbench-card-sidepanel .install-buttons {
    margin-right: 375px;
}

.workbench-card-sidepanel.expanded .install-buttons {
    width: 599px;
}

.workbench-card-sidepanel div .new-provisional-edit-card-container {
    padding-left: 10px;
}

.workbench-card-sidepanel .new-provisional-edit-card-container {
    padding-bottom: 40px;
}

.workbench-card-sidepanel-header-container {
    padding: 14px;
    margin-left: 0px;
    background: #fff;
    z-index: 20;
    width: 400px;
}

.workbench-card-sidepanel-border {
    border-bottom: 1px solid #ddd;
    margin: 0px 12px;
}

.workbench-card-sidepanel-body {
    overflow-y: auto;
    width: inherit;
    height: -moz-available;
    height: -webkit-fill-available;
    height: stretch;
    padding: 10px;
}

.expanded .workbench-card-sidepanel-header-container {
    width: 599px;
}

.workbench-card-sidepanel-header {
    position: relative;
    cursor: pointer;
    color: rgb(33, 62, 95);
    font-size: 1.6rem;
}

.workbench-card-sidepanel-header:before {
    content: "\f00d";
    font-family: FontAwesome;
    margin-right: 6px;
    color: rgb(158, 158, 158);
    font-weight: lighter;
    line-height: 1.8em;
}

.workbench-card-sidepanel-header:hover:before {
    color: rgb(33, 62, 95);
}

.basemap-listing,
.overlay-listing,
.legend-listing {
    padding: 16px 20px;
    min-height: 60px;
    border-bottom: 1px solid rgb(216, 216, 216);
    font-size: 1.4rem;
    color: rgb(158, 158, 158);
    display: flex;
}
.basemap-listing span,
.overlay-listing span,
.legend-listing span {
    padding-top: 3px;
}

.basemap-listing,
.overlay-listing .overlay-opacity-control,
.overlay-listing .overlay-name {
    cursor: pointer;
}

.overlay-listing,
.legend-listing {
    cursor: grab;
}

.basemap-listing-container,
.overlays-listing-container,
.legend-listing-container {
    padding: 0px 16px 16px 16px;
}

.basemap-listing.active-basemap,
.basemap-listing:hover,
.overlay-listing.active-overlay,
.overlay-listing:hover,
.legend-listing .legend-name {
    color: rgb(33, 62, 95);
}

.basemap-listing.active-basemap,
.basemap-listing:hover,
.overlay-listing:hover {
    background-color: rgb(247, 247, 247);
}

.basemap-listing:before,
.overlay-listing .overlay-name:before {
    margin: 0px 8px;
    font-family: FontAwesome;
    padding-top: 3px;
}

.basemap-listing:before {
    content: "\f10c";
}

.overlay-listing .overlay-name:before {
    content: "\f204";
}

.basemap-listing.active-basemap:before {
    content: "\f05d";
}

.overlay-listing.active-overlay .overlay-name:before {
    content: "\f205";
}

.overlay-listing .overlay-name {
    display: flex;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 4px;
}

.overlay-opacity-control .overlay-opacity-slider,
.overlay-opacity-control i {
    display: inline-block;
}

.overlay-opacity-control .overlay-opacity-slider {
    transition-property: width, opacity;
    transition-delay: 0ms;
    transition: 0ms;
    -webkit-transition-delay: 0ms;
    width: 0px;
    opacity: 0;
    position: relative;
    top: 2px;
    right: -8px;
}

.overlay-opacity-control .overlay-opacity-slider input {
    width: 0px;
    height: 0px;
}

.overlay-opacity-control:hover .overlay-opacity-slider input,
.overlay-opacity-control:focus .overlay-opacity-slider input,
.overlay-opacity-control:focus-within .overlay-opacity-slider input {
    width: 150px;
    height: 20px;
}

.overlay-listing .overlay-opacity-control {
    transition: 300ms;
    transition-property: all;
    transition-delay: 100ms;
    position: absolute;
    padding: 6px 6px 6px 8px;
    right: 6px;
    width: 30px;
    height: 38px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.overlay-listing .overlay-opacity-control:hover,
.overlay-listing .overlay-opacity-control:focus,
.overlay-listing .overlay-opacity-control:focus-within {
    border: 1px solid rgb(217, 217, 217);
    background-color: white;
    width: 200px;
}

.overlay-listing .overlay-opacity-control:hover .overlay-opacity-slider,
.overlay-listing .overlay-opacity-control:focus .overlay-opacity-slider,
.overlay-listing .overlay-opacity-control:focus-within .overlay-opacity-slider {
    transition-delay: 400ms;
    transition: 200ms;
    -webkit-transition-delay: 400ms;
    width: 150px;
    opacity: 1;
}

.layer-listing-icon {
    display: inline-block;
    padding-inline-end: 4px;
}

.layer-listing-icon::before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border: solid 1px rgb(216, 216, 216);
    border-radius: 100%;
    background-color: rgb(247, 247, 247);
}

.map-card-feature-item {
    cursor: zoom-in;
}

.map-card-feature-item:hover {
    background-color: rgb(250, 250, 250);
}

.map-card-feature-item.active .map-card-feature-name {
    font-weight: 600;
}

.map-card-feature-list .table {
    margin-bottom: 0;
}

.map-card-feature-tool {
    width: 80px;
}

.map-card-feature-tool.intersect {
    width: 80px;
}

.map-card-zoom-tool,
.map-card-feature-tool {
    font-size: 0.9em;
}

.map-card-zoom-tool a,
.map-card-feature-tool a,
.map-card-zoom-tool button,
.map-card-feature-tool button {
    color: #2f527a;
}

.map-card-zoom-tool button,
.map-card-feature-tool button {
    border: 2px;
    background-color: rgba(0, 0, 0, 0);
}

.map-card-zoom-tool button.inactive {
    color: #454545;
    cursor: default;
}

.map-card-zoom-tool {
    float: right;
    padding: 10px;
}

.map-card-zoom-tool a {
    display: inline-block;
    padding: 0px 3px;
}
