/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-5.use[3]!../../../usr/local/lib/python3.10/dist-packages/arches/app/media/css/components/widgets/_map.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************/
button.map-coordinate-editor-delete-button {
    color: #454545;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
}
