/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-5.use[3]!../../../usr/local/lib/python3.10/dist-packages/arches/app/media/css/components/widgets/_radio.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
.columns label .form-radio {
    display: flex;
    align-items: center;
}

label.form-radio.form-normal {
    cursor: pointer;
    margin: 2px 0px;
}
label.form-radio.form-normal::before {
    top: 22px;
    content: "";
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #c3cedb;
    left: auto;
    bottom: auto;
    display: block;
    border-radius: 50%;
    background-color: transparent;
    padding-bottom: 4px;
}
label.form-radio.form-normal::before:hover {
    padding-bottom: 0;
}
label.form-radio.form-normal:not(.disabled):not(.active):hover::after {
    opacity: 0.3;
}
label.form-radio.form-normal::after {
    content: "";
    position: relative;
    display: block;
    width: 8px;
    height: 8px;
}
label.form-radio.form-normal.active::after, label.form-radio.form-normal:not(.disabled):hover::after {
    bottom: 13px;
    position: relative;
    border: none;
    display: block;
    left: auto;
    border-radius: 50%;
    background-color: #515151;
    margin: 0 4px;
}

.form-text.form-radio:not(.btn),
.form-text.form-radio:not(.btn),
.form-text.form-radio:not(.btn) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline-end: 40px;
}
