/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-5.use[3]!../../../usr/local/lib/python3.10/dist-packages/arches/app/media/css/components/widgets/_text.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
.i18n-style-tools-panel {
    padding: 10px;
    height: 140px;
    position: relative;
    width: 100%;
}
